.btnPrincipal{
  display:flex;
  margin-top: -27vh;
  width: 15vw;
  justify-content: space-evenly;
}
.menu{
  display: flex;
  margin-right: 10vw;
  justify-content: flex-end;
}
.btnRegistrar{
  width: 12vw;
  border-radius: 10px;
  border: 2px solid gray;
  height: 4vw;
  font-size: 20px;

}
.btnCerrar{
  width: 12vw;
  border-radius: 10px;
  border: 2px solid gray;
  height: 4vw;
  font-size: 20px;
}